

.liste_commande1{
   padding: 10% 20px;
    width: 100%;
    color: white;
    background-color: #161515;
    margin: 0;
   
}
.liste_commande1 .liste_commande-titre{
    margin-right: 4%;
    font-weight: 400;
    text-align: left;
    color: white;
}

 button{
    color: white;
    padding: 10px 20px;

}
.liste_commande1 .p-datatable .p-paginator-bottom {
  border-width: 0 0 1px 0;
  border-radius: 0;
  background-color: #161515;
}

/* Style pour la DataTable elle-même */
.liste_commande1 .p-datatable {
   
    border-radius: 5px;
    margin: 1%;
  }
  .liste_commande1 .p-datatable .p-column-header-content {
    display: block;
}
  
.liste_commande1 .p-datatable thead th {
    background-color: var(--primary-color);
    font-weight: bold;
    padding: 1.5% 0%;
    color: white;
    background-color: #ffc107 !important;
  }
  
  /* Style pour les cellules de données */
  .liste_commande1 .p-datatable tbody td {
    padding: 10px;
  vertical-align: middle;
color: white;
background-color: #161515 !important;
  }
  
  
  /* Style pour les boutons de pagination */
  .liste_commande1  .p-paginator .p-paginator-current,
  .p-paginator .p-paginator-pages {
    margin: 2px;
  
    display: flex;
    justify-content: space-between;
  }
  
  /* Style pour les boutons de pagination actifs */
  .liste_commande1  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #FFD335;
    color:white;
   width: 16px;
   height: 25px;
   border-radius: 100%;
  }

  
  .liste_commande1 .status-button {
    background-color: #ffc107 !important; /* Yellow background */
    color: black;  /* Black text color */
    padding: 5px 10px; /* Button padding */
    border-radius: 5px; /* Border radius */
    border: none; /* Remove default border */
    cursor: pointer; /* Indicate clickable button */
  }
  .liste_commande1 .p-tag-value{
    background-color: transparent;
  }
  